// These should be here and in that order
@import"x-main/_vendors.scss";
@import "x-main/variables.scss";
@import "fonts/_fontfaces.scss";
// end


@import"_footer.scss";
@import"_navigation.scss";
@import"_wrappers.scss";
@import"elements/_a.scss";
@import"elements/_buttons.scss";
@import"elements/_form.scss";
@import"elements/_img.scss";
@import"elements/_misc.scss";
@import"helpers/_helpers.scss";
@import"helpers/_textstyles.scss";
@import"elements/_checkbox.scss";

.app-wrapper {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--main-font);
  font-size: var(--base-font-size);

  background-color: var(--grey-200);
}
button{
  transition: all 0.2s;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.justify-space-between{
  justify-content: space-between;
}
.align-item-center{
  align-items: center;
}
.text-center{
  text-align: center;
}
.margin-auto{
  margin: auto;
}

.container{
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex: 1 1 auto;
  height: 1px;
  flex-flow: column;
  font-size: 1.2rem;
}
.container::-webkit-scrollbar{
  display: none;
}
.detail_row, .details > p{
  padding: 0;
  margin: 0.2rem 0;
  font-weight: 600;
}
.detail_row > span, .details > p > span{
  color: #4f4f4f;
  font-weight: normal;
  line-height: normal;
  word-spacing: 1px;
}
.details > p{
  margin: 1rem 0;
}
.summary{
  margin: 1rem 0;
}
.detail_row.summary{
  color: var(--grey-800);
}
// home page
.page-header{
  position: relative;
  top: 0;
  background: var(--grey-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 11px 0px #35020682;
  margin: 0 0 0.5rem 0;
}
.branding{
  position: absolute;
}
.page-header h1{
  margin: 0.7rem auto;
  font-size: 2.5rem;
  color: rgb(59,148,209);
}
.critic-image p{
  margin: 0.5rem 0;
  font-size: 1rem;
}
.app-homepage{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}

.reviewList{
  overflow-y: auto;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-content: baseline;
  padding: 0 1rem;
}
.reviewList-sizer{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 1rem 0;
}
.search_filter{
  display: flex;
  align-items: center;
  padding: 2rem;
  column-gap: 2rem;
  justify-content: center;
}
.view-all-reviews{
  margin: 2rem;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(59,148,209);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s all;
  border-radius: 0.4rem;
  color: rgb(59,148,209);
}

.view-all-reviews:hover{
  background: #d1d1d1;
}
.view-all-reviews:active{
  background: #b8b8b8;
}

// review page
img.reviewImage{
  width: 400px;
}
.details{
  margin-left: 2rem;
}
.details .title{
  margin-top: 0;
}
.reviewbody{
  margin: 1.5rem 0;
}
.details p{
  font-size: 1rem;
}
.navBtn{
  margin: 1.2rem 0 0 0;
  cursor: pointer;
}
.critic_filter_select{
  margin-left: auto;
}

// critics page
#crtics-reviews .reviewList{
  max-height: 700px;
}